<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/cssreset.css" />
    <link rel="stylesheet" href="/css/tutorial.css" />
    <title>Unity Tutorial</title>
</head>

<body>
    <% if(isauth) {%>
        <nav>

            <div class="logo-section">
                <a href="/dashboard"><img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" /></a>
            </div>

            <ul class="menu">
                <li><a href="/allcourses">Semua Tutorial</a></li>
                <li><a href="/aboutus">Tentang Kami</a></li>
            </ul>
            <details class="dropdown">
                <summary>
                    <img src="/img/user-profile-square.png" alt="User Profile" class="profile-image" />
                </summary>
                <ul>
                    <li><img src="/img/user-profile-square.png" /><a href="/profile">Profile Saya</a></li>

                    <li><img src="/img/logout-04.png" />
                        <form action="/logout?_method=DELETE" method="post"><a
                                onclick="this.closest('form').submit();return false;">Keluar</a>
                        </form>
                    </li>
                </ul>
            </details>
        </nav>
        <% } else { %>
            <nav>
                <div class="logo-section">
                    <a href="/dashboard">
                        <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
                    </a>
                </div>

                <ul class="menu">
                    <li><a href="/allcourses">Semua Tutorial</a></li>
                    <li><a href="/aboutus">Tentang Kami</a></li>
                    <a href="/login"><button class="outline">Masuk</button></a>
                    <a href="/daftar"><button>Daftar</button></a>
                </ul>
            </nav>
            <% } %>
                <main class="main-container">
                    <aside class="sidebar">
                        <h3>STEPS</h3>
                        <ul>
                            <% for (let i=0; i < lessons.length; i++) {%>
                                <li><a href="#<%= i+1 %>">
                                        <%= lessons[i].judul_step %>
                                    </a></li>
                                <% } %>

                        </ul>
                    </aside>
                    <section class="content">
                        <div class="course-header"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/upload/<%= lessons[0].tumb_image %>');">
                            <img src="/img/upload/<%= lessons[0].tumb_image %>" class="course-image" />
                            <div class="course-info">
                                <h1>
                                    <%= lessons[0].judul %>
                                </h1>
                                <p>
                                    <%= lessons[0].tipe %> | <%= lessons[0].durasi %>
                                </p>
                                <p>
                                    <%= lessons[0].username %>
                                </p>
                            </div>
                        </div>

                        <div class="course-summary">
                            <h2>Ringkasan</h2>
                            <p>
                                <%= lessons[0].isi_course %>
                            </p>
                        </div>
                        <% for (let i=0; i < lessons.length; i++) {%>
                            <div class="lesson" id="<%= i+1 %>">
                                <h2>
                                    <%= lessons[i].judul_step %>
                                </h2>
                                <p>
                                    <%= lessons[i].isi_table %>
                                </p>
                                <% if(lessons[i].image !=null) {%>
                                    <img src="/img/upload/<%= lessons[i].image %>" />
                                    <% } %>
                            </div>
                            <% } %>

                    </section>
                </main>
</body>

</html>