<!DOCTYPE html>
<html lang="en" data-theme="ligt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- style  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/cssreset.css" />
    <link rel="stylesheet" href="/css/konfirmasi.css" />
    <title>Maya-Learn</title>
</head>

<body>
    <nav>
        <div class="logo-section">
            <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
        </div>
        <div class="search-section">
            <input type="search" name="course-search" placeholder="Cari kursus" />
        </div>
        <ul class="menu">
            <li><a href="">Semua Kursus</a></li>
            <li><a href="">Tentang Kami</a></li>
            <li><a href="">Kontak</a></li>
            <button class="outline">Masuk</button>
            <button>Daftar</button>
        </ul>
    </nav>
    <section class="hero"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/upload/<%= lessons[0].tumb_image %>');">
        <div class="course-header">
            <img src="/img/upload/<%= lessons[0].tumb_image %>" class="course-image" />
            <div class="course-info">
                <h1>
                    <%= lessons[0].judul %>
                </h1>
                <p>
                    <%= lessons[0].tipe %> | <%= lessons[0].durasi %>
                </p>
                <p>
                    <%= lessons[0].username %>
                </p>
            </div>
        </div>
    </section>
    <!-- Content -->
    <div class="content">
        <div class="ringkasan">
            <h2>Ringkasan</h2>
            <p>
                <%= lessons[0].isi_course %>
            </p>
        </div>
        <div class="course-list">
            <% lessons.forEach(lesson=> { %>
                <li>
                    <%= lesson.judul_step %>
                </li>

                <% }) %>
        </div>
    </div>
    <div class="cta">
        <a href="/course/<%=lesson_id%>"><button>PELAJARI</button></a>
    </div>
</body>

</html>